
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="layui-breadcrumb">
    <a href="/">首页</a>
    <a href="/demo/">@ViewBag.Title</a>
</span>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Title</h1>
